@charset "utf-8";

:root {
  --smooth-transform-transition: transform 0.8s cubic-bezier(0.075, 0.820, 0.165, 1.000);
  --smooth-opacity-transition: opacity 0.8s cubic-bezier(0.075, 0.820, 0.165, 1.000);
  --smooth-width-transition: width 0.8s cubic-bezier(0.075, 0.820, 0.165, 1.000);
  --smooth-clip-path-transition: clip-path 0.8s cubic-bezier(0.075, 0.820, 0.165, 1.000);
  --letterSpacingHeadline: -0.01em;
  --letterSpacingLarge: -0.02em;
  --letterSpacingBasic: -0.01em;
  --primary: #FF6614;
}

.inner {
  position: relative;
  max-width: 1440px;
  padding: 0 60px;
  margin: 0 auto;
  z-index: 5
}

#contents>.inner {
  z-index: initial
}

.container-fuild {
  position: relative;
  left: 50%;
  width: 100vw;
  margin-left: -50vw
}

br.m-enter {
  display: none
}

.video-data {
  position: relative
}

.video-inner {
  position: relative;
  padding-top: 56.25%;
  background: #000
}

.video-inner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover
}

.video-inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0
}

.video-area .video-data {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 60px
}

.video-area .video-data .video-inner {
  padding-top: 56.25%;
  border-radius: 24px;
  overflow: hidden
}

.video-area .container-fuild {
  padding: 80px 0;
  background: #000
}

.video-area.short-form .video-data {
  max-width: 464px
}

.video-area.short-form .video-data .video-inner {
  padding-top: 177.77%
}

.grid-layout-inner {
  display: flex;
  margin: 0;
  flex-wrap: wrap
}

.grid-layout-cell {
  box-sizing: border-box
}

.effect-data {
  position: relative;
  transform: translate(0, 60px);
  opacity: 0;
  transition: transform .4s cubic-bezier(.165, .84, .44, 1), opacity .4s ease;
  will-change: transform
}

.effect-data.actived {
  transform: translate(0, 0);
  opacity: 1;
  transition-delay: 0s
}


.title-logo {
  font-size: 24px;
  line-height: 1, .2;
  letter-spacing: var(--letterSpacingBasic);
  color: #666;
  font-weight: 500
}

.title-logo>em {
  display: inline-block;
  border-bottom: 2px solid #bbb
}

.title-logo+.page-title {
  margin-top: 28px
}

.page-title+.page-desc {
  margin-top: 20px
}

.page-title+.page-cate {
  margin-top: 50px
}

.page-title {
  display: block;
  font-size: 110px;
  line-height: 1;
  font-weight: 800;
  color: #1f1f1f;
  letter-spacing: var(--letterSpacingHeadline)
}

.page-title .en {
  font-size: 130px;
  color: #6038ff
}

.page-title .sentence {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 18px
}

.page-desc {
  font-size: 44px;
  line-height: 1;
  font-weight: 600;
  color: #bbb;
  letter-spacing: var(--letterSpacingHeadline)
}

.page-cate {
  font-size: 44px;
  line-height: 1;
  font-weight: 700;
  color: #6038ff;
  letter-spacing: var(--letterSpacingHeadline)
}

.contents-title {
  font-size: 68px;
  line-height: 1.2;
  font-weight: 800;
  color: #1f1f1f;
  letter-spacing: var(--letterSpacingHeadline)
}

.data-title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  color: #1f1f1f;
  letter-spacing: var(--letterSpacingHeadline)
}

.label.new {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  background: rgba(96, 56, 255, 1)
}

.img-box {
  text-align: center
}

.img-box img {
  max-width: none;
  width: 100%
}

#wrap.main #dHead {
  width: calc(100% - 8px)
}

#wrap.main #dHead .all-menu-wrap {
  width: calc(100% + 8px)
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0
}

.background-video>img,
.background-video>video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover
}

.video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.video-wrap img,
.video-wrap video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover
}

#dBody.main {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  margin: auto;
  z-index: 0;
  overflow: hidden
}

.main-wrap>.scroll-content {
  position: relative;
  z-index: 0
}

.main-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  opacity: 0
}

.main-wrap.show {
  opacity: 1;
  transition: opacity .6s ease
}

.main-group {
  min-height: 100vh;
  min-height: 100svh;
  overflow: hidden
}

.main-group h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #999999;
  transform: translateY(-10px);
  opacity: 0;
  transition: opacity .7s ease;
}

.main-group.main-ai h2 {
  text-align: left !important;
}

.main-group h2.actived {
  transform: translateY(-32px);
  opacity: 1;
  transition: all .7s ease;
}

.main-sticky {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100svh
}

.main-sticky-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh
}

.btn-main-nav {
  display: inline-flex;
  align-items: center;
  padding: 0 44px;
  height: 80px;
  font-size: 24px;
  line-height: 1;
  color: #fff;
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: var(--letterSpacingHeadline);
  box-sizing: border-box;
  background: #6038ff;
  border-radius: 100px
}

@keyframes bubble1 {
  0% {
    transform: translate(0, 0);
    animation-timing-function: cubic-bezier(.25, .46, .45, .94)
  }

  25% {
    transform: translate(0, -50%);
    animation-timing-function: cubic-bezier(.55, .085, .68, .53)
  }

  50% {
    transform: translate(0, 0);
    animation-timing-function: cubic-bezier(.25, .46, .45, .94)
  }

  75% {
    transform: translate(0, 50%);
    animation-timing-function: cubic-bezier(.55, .085, .68, .53)
  }

  100% {
    transform: translate(0, 0)
  }
}

@keyframes bubble2 {
  0% {
    transform: translate(0, 0);
    animation-timing-function: cubic-bezier(.25, .46, .45, .94)
  }

  25% {
    transform: translate(0, 10px);
    animation-timing-function: cubic-bezier(.55, .085, .68, .53)
  }

  50% {
    transform: translate(0, 0);
    animation-timing-function: cubic-bezier(.25, .46, .45, .94)
  }

  75% {
    transform: translate(0, -10px);
    animation-timing-function: cubic-bezier(.55, .085, .68, .53)
  }

  100% {
    transform: translate(0, 0)
  }
}

@keyframes bubble3 {
  0% {
    transform: translate(0, 0);
    animation-timing-function: cubic-bezier(.25, .46, .45, .94)
  }

  25% {
    transform: translate(0, 15px);
    animation-timing-function: cubic-bezier(.55, .085, .68, .53)
  }

  50% {
    transform: translate(0, 0);
    animation-timing-function: cubic-bezier(.25, .46, .45, .94)
  }

  75% {
    transform: translate(0, -15px);
    animation-timing-function: cubic-bezier(.55, .085, .68, .53)
  }

  100% {
    transform: translate(0, 0)
  }
}

@keyframes bubble4 {
  0% {
    transform: translate(0, 0);
    animation-timing-function: cubic-bezier(.25, .46, .45, .94)
  }

  25% {
    transform: translate(0, -20px);
    animation-timing-function: cubic-bezier(.55, .085, .68, .53)
  }

  50% {
    transform: translate(0, 0);
    animation-timing-function: cubic-bezier(.25, .46, .45, .94)
  }

  75% {
    transform: translate(0, 20px);
    animation-timing-function: cubic-bezier(.55, .085, .68, .53)
  }

  100% {
    transform: translate(0, 0)
  }
}

@keyframes bubble0 {
  0% {
    transform: translate(0, 0);
    animation-timing-function: cubic-bezier(.25, .46, .45, .94)
  }

  25% {
    transform: translate(0, -30px);
    animation-timing-function: cubic-bezier(.55, .085, .68, .53)
  }

  50% {
    transform: translate(0, 0);
    animation-timing-function: cubic-bezier(.25, .46, .45, .94)
  }

  75% {
    transform: translate(0, 30px);
    animation-timing-function: cubic-bezier(.55, .085, .68, .53)
  }

  100% {
    transform: translate(0, 0)
  }
}

@keyframes arrow {
  0% {
    transform: translate(0, -25%)
  }

  100% {
    transform: translate(0, 0%)
  }
}

@keyframes charLine {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}



/* section1 ###################### */
.main-headline {
  height: 100vh;
  height: 100svh
}

.main-headline .main-sticky-inner {
  background: #fff
}

.main-headline .bg {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0
}

.main-headline .scroller {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5
}

.main-headline .scroller:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 48px;
  height: 100px;
  background: url(../images/scroller.png) center center no-repeat;
  background-size: 100% 100%;
  animation-name: arrow;
  animation-duration: .6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  margin-left: -24px
}

.main-headline .headline-1 {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 15
}

.main-headline .headline-2 {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 15
}

.main-headline .headline-2 .front {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: 5
}

.main-headline .headline-2 .back {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  z-index: 5
}

.main-headline .headline-2 .back,
.main-headline .headline-2 .front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.main-headline .headline-2 .back .txt-group .text {
  color: #fff
}

.main-headline .txt-group {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column
}

.main-headline .txt-group .headline-logo {
  text-align: center;
  width: 100%;
  display: block;
  width: 323px;
  height: 57px;
  background: url(../images/section1_logo.png) center center no-repeat;
  background-size: 100% 100%;
  margin-bottom: 56px;
}

.main-headline .txt-group .text {
  text-align: center;
  width: 100%;
  font-size: 60px;
  line-height: 1.1;
  font-weight: 500;
  color: #fff;
  letter-spacing: var(--letterSpacingHeadline)
}

.main-headline .txt-group .text .mo_ln {
  display: none;
}

.main-headline .txt-group .btn-area {
  margin-top: 80px;
  display: flex;
  gap: 20px;
}

.main-headline .txt-group .btn-area button {
  width: 240px;
  height: 52px;
  background: transparent;
  border: 0.5px solid #fff;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  letter-spacing: -0.02em;
  text-align: center;
  transition: all .4s ease;
}

.main-headline .txt-group .btn-area button:hover {
  background: rgba(255, 255, 255, 0.3);
  transition: all .4s ease;
}

.main-headline .point-obj {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 844px;
  height: 818px;
  margin: -409px 0 0 -422px;
  z-index: 10
}

.main-headline .point-obj .obj {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 616px;
  height: 580px;
  margin: -290px 0 0 -308px;
  z-index: 5
}

.main-headline .point-obj .point-obj-inner,
.main-headline .point-obj .point-obj-outer {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%
}

.main-headline .point-obj .obj img,
.main-headline .point-obj .obj video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover
}

.main-headline .point-obj .deco {
  position: absolute
}

.main-headline .point-obj .deco:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: url(https://ai.chunjae.co.kr/common/images/contents/main-headline-deco.png) center center no-repeat;
  background-size: 100% 100%
}

.main-headline .point-obj .deco-1 {
  top: 29.33%;
  left: 15.4%;
  width: 44px;
  height: 44px;
  z-index: 0;
  display: none
}

.main-headline .point-obj .deco-2 {
  top: 27.13%;
  right: 13.86%;
  width: 38px;
  height: 38px;
  z-index: 1
}

.main-headline .point-obj .deco-3 {
  bottom: 21.39%;
  left: 14.09%;
  width: 68px;
  height: 68px;
  z-index: 10
}

.main-headline .point-obj .deco-4 {
  bottom: 24.2%;
  right: 21.56%;
  width: 34px;
  height: 34px;
  z-index: 3
}

.main-headline .point-obj .obj {
  animation-name: bubble0;
  animation-duration: 5s;
  animation-direction: normal;
  animation-iteration-count: infinite
}

.main-headline .point-obj .deco-1:before {
  animation-name: bubble1;
  animation-duration: 7s;
  animation-direction: normal;
  animation-iteration-count: infinite
}

.main-headline .point-obj .deco-2:before {
  animation-name: bubble2;
  animation-duration: 5s;
  animation-direction: normal;
  animation-iteration-count: infinite
}

.main-headline .point-obj .deco-3:before {
  animation-name: bubble3;
  animation-duration: 5s;
  animation-direction: normal;
  animation-iteration-count: infinite
}

.main-headline .point-obj .deco-4:before {
  animation-name: bubble4;
  animation-duration: 5s;
  animation-direction: normal;
  animation-iteration-count: infinite
}

.main-headline .sequence-wrap {
  transform: rotate(10deg)
}

.main-headline .footnote-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 60px 30px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: var(--letterSpacingHeadline);
  color: #666;
  z-index: 50;
  text-align: center;
  opacity: 0;
  transition: opacity .4s ease
}

.main-headline .footnote-desc.actived {
  opacity: 1
}

/* section2 ###################### */
.main-technology {
  height: 350vh;
  height: 350svh;
  background: #fff;
  z-index: 150
}

.main-technology .main-sticky-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #fff;
}

.main-technology .data {
  width: 100%;
  text-align: center
}

.main-technology .title {
  display: block
}

.main-technology .title .sentence {
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 72px;
  font-weight: 800;
  color: #1f1f1f;
  letter-spacing: var(--letterSpacingHeadline)
}

.main-technology .title .sentence+.sentence {
  margin-top: 12px
}

.main-technology .title .sentence span {
  position: relative;
  display: block;
  overflow: hidden
}

.main-technology .title .sentence .char-words {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box
}

.main-technology .title .sentence .char-words .tablet_ln {
  display: none;
}

.main-technology .title .sentence .char-words .mo_ln {
  display: none;
}

.main-technology .title .sentence .char-line {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%
}

.main-technology .title .sentence .char-line:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background: #bbb;
  animation-name: charLine;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite
}

.main-technology .desc {
  margin-top: 40px;
  font-size: 40px;
  line-height: 1;
  color: #1f1f1f;
  line-height: 56px;
  /* letter-spacing: var(--letterSpacingHeadline); */
  letter-spacing: -3px;
}

.main-technology .sentence-2 .word-sentence {
  display: inline-flex;
  align-items: center
}

.main-technology .sentence-2 .word-sentence .txt-gradient {
  font-weight: 800;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url(https://ai.chunjae.co.kr/common/images/contents/main-future-gradient.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 321px 321px;
  animation-name: txtGradient;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.455, .030, .515, .955)
}

.main-technology .sentence-2 .word-sentence .txt-gradient.gradient-1 {
  background-position-x: 0
}

.main-technology .sentence-2 .word-sentence .txt-gradient.gradient-2 {
  background-position-x: 40%
}

.main-technology .sentence-2 .word-sentence .txt-gradient.gradient-3 {
  background-position-x: 60%
}

.main-technology .sentence-2 .word-sentence .txt-gradient.gradient-4 {
  background-position-x: 100%
}

.main-technology .sentence-2 .word-sentence .desc {
  position: absolute;
  bottom: 40px;
  left: 0;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 1;
  color: #bbb
}

@keyframes txtGradient {
  0% {
    background-position-y: 0
  }

  50% {
    background-position-y: 100%
  }

  100% {
    background-position-y: 0
  }
}

/* section3 ###################### */
.main-ai {
  /* margin-top: -100vh;
  margin-top: -100svh; */
  height: 600vh;
  height: 600svh;
  position: relative;
  z-index: 50
}

.main-ai .bg {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/section3_bg.jpg) center center no-repeat;
  background-size: cover;
  z-index: 0
}

.main-ai .main-sticky-inner {
  background: #000
}

.main-ai .data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1
}

.main-ai .data2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.main-ai .data-inner {
  width: 100%;
  max-width: 2560px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 0 180px
}

.main-ai .title-group {
  display: flex;
  align-items: center
}

.main-ai .title-group .btns {
  margin-left: auto
}

.main-ai .title-group .btns .btn-basic {
  min-width: 250px
}

.main-ai .title {
  display: block;
  font-size: 60px;
  line-height: 72px;
  color: rgba(221, 221, 221, 1);
  letter-spacing: -2px;
  font-weight: 900;
  opacity: 0
}

.main-ai .title .sentence+.sentence {
  margin-top: 24px;
}

.main-ai .title>span {
  display: block
}

.main-ai .title .word {
  display: flex;
  align-items: center
}

.main-ai .title .word.stl {
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1px;
}

.main-ai .title em {
  display: inline-flex;
  align-items: center;
  transition: color .4s ease;
  color: #fff
}

.main-ai .title em span {
  font-size: 72px
}

.main-ai .title.actived em {
  background: linear-gradient(to right, rgba(62, 242, 255, 1), rgba(122, 89, 255, 1));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 1s ease;
}

.main-ai .list {
  margin-top: 44px
}

.main-ai .list-inner,
.main-ai .list-inner2 {
  display: inline-flex;
  gap: 0 24px
}

.main-ai .list-item {
  position: relative;
  width: 980px;
  height: 454px;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, .15);
  background: linear-gradient(131deg, rgba(255, 255, 255, .07) 30.43%, rgba(255, 255, 255, .14) 96.75%);
  backdrop-filter: blur(3px);
  box-sizing: border-box;
  overflow: hidden;
  transition: background .4s ease, border .4s ease
}

.main-ai .list-item .item-inner {
  position: absolute;
  top: 0;
  right: 0;
  width: 980px;
  height: 100%;
  padding: 32px;
  box-sizing: border-box;
  text-align: left;
  opacity: 1;
  transition: opacity .4s ease;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-ai .list-item .item-info {
  margin-left: 18px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 390px;
}

.main-ai .list-item .item-info .item-number {
  color: rgba(153, 153, 153, 1);
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  letter-spacing: -0.02em;
  position: absolute;
  bottom: 0;
  left: 0;
}

.main-ai .list-item .item-title {
  flex: 0 0 auto;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: -0.02em;
  text-align: left;
}

.main-ai .list-item .item-detail {
  margin-top: 16px;
}

.main-ai .list-item .item-detail ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 291px;
  /* list-style-type: disc; */
  list-style: none;
}

.main-ai .list-item .item-detail ul li {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: -0.02em;
}

.main-ai .list-item .item-detail ul li:before {
  content: "·";
  font-size: 18px;
  vertical-align: middle;
  line-height: 20px;
  padding-right: 6px;
}


.main-ai .list-item .item-desc {
  font-size: 20px;
  line-height: 1.6;
  color: #ddd;
  letter-spacing: var(--letterSpacingHeadline)
}

.main-ai .list-item .item-options {
  margin-top: 20px;
  display: flex;
  gap: 4px
}

.main-ai .list-item .item-options-label {
  display: inline-flex;
  align-items: center;
  padding: 0 14px;
  height: 38px;
  font-size: 18px;
  line-height: 1;
  color: #bbb;
  font-weight: 500;
  white-space: nowrap;
  letter-spacing: var(--letterSpacingHeadline);
  box-sizing: border-box;
  border: 1px solid #666;
  border-radius: 100px
}

.main-ai .list-item .item-inner .item-visual {
  width: 557px;
  height: 390px;
  overflow: hidden;
}

.main-ai .list-item:nth-child(1) .item-inner .item-visual {
  background: url(../images/section3_img1.png) center center no-repeat;
  background-size: 100% 100%;
}

.main-ai .list-item:nth-child(2) .item-inner .item-visual {
  background: url(../images/section3_img2.png) center center no-repeat;
  background-size: 100% 100%;
}

.main-ai .list-item:nth-child(3) .item-inner .item-visual {
  background: url(../images/section3_img3.png) center center no-repeat;
  background-size: 100% 100%;
}

.main-ai .list-item .item-visual img {
  width: 100%;
  height: 100%;
}

.main-ai .list-item .item-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  opacity: 1;
  transform: translate(100%, 0);
  background: #fff;
  transition: transform .2s cubic-bezier(.165, .84, .44, 1);
  border: 1px solid #fff;
}

.main-ai .list-item .item-label-title {
  position: absolute;
  top: 24px;
  left: 50%;
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  white-space: nowrap;
  letter-spacing: var(--letterSpacingHeadline);
  color: #1f1f1f;
  transform-origin: 0 50%;
  font-weight: 600;
  transform: rotate(90deg);
  font-weight: 800
}

.main-ai .list-item .item-label-number {
  position: absolute;
  bottom: 42px;
  left: 50%;
  display: inline-block;
  font-size: 20px;
  line-height: 1;
  white-space: nowrap;
  letter-spacing: var(--letterSpacingHeadline);
  color: #bbb;
  transform-origin: 0 50%;
  transform: rotate(90deg)
}

.main-ai .list-item.actived {
  border-radius: 20px
}

.main-ai .list-item.actived .item-inner {
  opacity: 0
}

.main-ai .list-item.actived .item-label {
  opacity: 1;
  transform: translate(0, 0);
  transition-duration: .4s
}

/* section4 ###################### */
.main-price {
  height: 250vh;
  height: 250vh;
  display: flex;
  align-items: center;
  background: #f8f8f8;
  text-align: center;
}

.main-price .data {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  line-height: 1;
}

.main-price .title {
  font-size: 68px;
  line-height: 1.2;
  font-weight: 800;
  color: #1f1f1f
}

.main-price .title em {
  background: linear-gradient(to right, rgba(255, 201, 24, 1), rgba(255, 84, 58, 1));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 1s ease;
}


.main-price .desc {
  margin-top: 16px;
  font-size: 40px;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: -2px;
  color: #333;
}

.main-price .desc>em {
  font-weight: 700
}

.main-price .gray-box {
  margin: 80px auto 0 auto;
  width: calc(100% - 120px);
  max-width: 1200px;
  min-height: 300px;
  padding: 0 72px;
  background-color: #F5F6F8;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.main-price .gray-box .gray-box-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0 24px
}

.main-price .gray-box .gray-box-inner .inner-top {
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 32px;
  padding-bottom: 32px;
}

.main-price .gray-box .gray-box-inner .inner-top ul {
  display: flex;
  gap: 0 24px;
  align-items: flex-end;
}


.main-price .gray-box .gray-box-inner .inner-top ul li dl {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.main-price .gray-box .gray-box-inner .inner-top ul li dl dt {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  letter-spacing: -0.02em;
  color: #222;
}

.main-price .gray-box .gray-box-inner .inner-top ul li dl dd {
  position: relative;
}

.main-price .gray-box .gray-box-inner .inner-top ul li dl dd::after {
  content: attr(data-affix);
  display: inline-block;
  position: absolute;
  right: 14px;
  top: calc(50% + 1px);
  transform: translateY(-50%);
  color: #222;
  font-size: 16px;
  z-index: 999;
  width: 21px;
}

.main-price .gray-box .gray-box-inner .inner-top ul li dl dd input {
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 54px;
  text-align: right;
  color: #222;
  font-size: 16px;
  padding-right: 32px !important;
  font-weight: 400 !important;
}

.main-price .gray-box .gray-box-inner .inner-top ul li:nth-child(3) dl dd input {
  padding-right: 36px !important;
}

.main-price .gray-box .gray-box-inner .inner-top ul li button {
  width: 233px;
  height: 69px;
  font-size: 24px;
  color: #fff;
  background-color: var(--primary, #FF6614);
  border-radius: 50px;
}

.main-price .gray-box .gray-box-inner .inner-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-price .gray-box .gray-box-inner .inner-bottom span {
  font-size: 20px;
  font-weight: 700;
}

.main-price .gray-box .gray-box-inner .inner-bottom span em {
  color: var(--primary, #FF6614);
  font-size: 60px;
  margin: 0 10px;
}

/* section5 ###################### */
.main-patent {
  height: 300vh;
  height: 300svh;
  background: #fff;
}

.main-patent .data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  line-height: 1;
  color: #fff
}

.main-patent .data-inner {
  width: 100%;
  max-width: 2560px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 0 180px
}

.main-patent .data .cate {
  font-size: 24px;
  letter-spacing: var(--letterSpacingHeadline)
}

.main-patent .data .title {
  position: relative;
  display: block;
  font-size: 88px;
  font-weight: 800;
  letter-spacing: var(--letterSpacingHeadline);
  margin-top: 48px
}

.main-patent .data .title .sentence {
  display: flex;
  align-items: center
}

.main-patent .data .title .sentence+.sentence {
  margin-top: 20px
}

.main-patent .data .title .sentence em {
  font-size: 96px
}

.main-patent .list {
  z-index: 5;
  line-height: 1
}

.main-patent .list-inner {
  display: inline-flex;
  gap: 0 40px
}

.main-patent .list-inner>.list-cell {
  border-bottom: 6px solid #222;
  padding-bottom: 51px;
}

.main-patent .list-inner>.list-cell dl {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.main-patent .list-inner>.list-cell dl dt {
  width: 448px;
  height: 0;
  position: relative;
  padding-top: 100%;
  overflow: hidden;
}

.main-patent .list-inner>.list-cell dl dt>img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-patent .list-inner>.list-cell dl dt>img:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

.main-patent .list-inner>.list-cell dl dd>p {
  font-family: Pretendard;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #777777;
}

.main-patent .list-inner>.list-cell dl dd>div {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #222;
  margin-top: 18px;
}


.main-patent .list-items {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 48px;
  width: 380px;
  height: 360px;
  border-radius: 32px;
  box-sizing: border-box;
  background: linear-gradient(132deg, rgba(255, 255, 255, .06) 30.73%, rgba(255, 255, 255, .12) 95.8%);
  border: 1px solid rgba(255, 255, 255, .15);
  backdrop-filter: blur(9px)
}

.main-patent .list-items .item-number {
  position: absolute;
  top: 0;
  left: 0;
  padding: 48px;
  font-size: 24px;
  color: #666;
  letter-spacing: var(--letterSpacingHeadline)
}

.main-patent .list-items .item-title {
  position: relative;
  width: 100%;
  font-size: 32px;
  line-height: 1.2;
  color: #fff;
  font-weight: 500;
  letter-spacing: var(--letterSpacingHeadline)
}

.main-patent .list-items .item-title>em {
  color: #7c67ff
}

.main-patent .list-items .item-desc {
  position: relative;
  margin-top: 16px;
  width: 100%;
  font-size: 20px;
  color: #666;
  letter-spacing: var(--letterSpacingHeadline)
}

.main-patent .btns {
  display: none
}

.main-patent .btn-main-nav {
  background-color: #6038ff
}


@keyframes txtGradient {
  0% {
    background-position-y: 0
  }

  50% {
    background-position-y: 100%
  }

  100% {
    background-position-y: 0
  }
}



@media screen and (min-width:1025px) and (max-width:1900px) and (max-height:960px) {
  .main-ai .list {
    margin-top: 60px
  }

  .main-ai .list-item {
    height: 480px
  }

  .main-ai .list-item .item-inner {
    padding: 50px
  }

  .main-ai .list-item .item-options {
    margin-top: 10px
  }

  .main-ai .list-item .item-visual {
    margin-top: 35px;
    height: 200px
  }

  .main-ai .list-item .item-label-title {
    top: 40px
  }

  .main-ai .list-item .item-label-number {
    bottom: 60px
  }

  .main-patent .list {
    margin-top: 70px
  }
}

@media screen and (min-width:1025px) and (max-width:1900px) and (max-height:910px) {
  .main-ai .list {
    margin-top: 40px
  }

  .main-ai .list-item {
    height: 440px
  }

  .main-ai .list-item .item-inner {
    padding: 30px
  }

  .main-ai .list-item .item-visual {
    margin-top: 35px;
    height: 200px
  }

  .main-ai .list-item .item-label-title {
    top: 22px
  }

  .main-ai .list-item .item-label-number {
    bottom: 42px
  }

  .main-patent .data .title {
    margin-top: 20px
  }

  .main-patent .list {
    margin-top: 50px
  }

  .main-patent .list-items {
    padding: 24px;
    width: 320px;
    height: 320px
  }

  .main-patent .list-items .item-number {
    padding: 24px;
    font-size: 24px
  }

  .main-patent .list-items .item-title {
    font-size: 28px
  }

  .main-patent .list-items .item-desc {
    margin-top: 10px;
    font-size: 16px
  }
}

@media screen and (min-width:1025px) and (max-width:1900px) and (max-height:800px) {
  .main-ai .list-item {
    height: 400px
  }

  .main-ai .list-item .item-visual {
    margin-top: 30px;
    height: 177px
  }

  .main-patent .list-items .item-title {
    font-size: 26px
  }

  .main-patent .list-items {
    height: 240px
  }
}

@media screen and (min-width:1025px) and (max-width:1900px) and (max-height:720px) {
  .main-ai .title {
    font-size: 48px
  }

  .main-ai .title em span {
    font-size: 56px
  }

  .main-ai .list-inner {
    gap: 0 14px
  }

  .main-patent .data .title {
    font-size: 48px
  }

  .main-patent .data .cate {
    font-size: 20px
  }

  .main-patent .data .title .sentence+.sentence {
    margin-top: 8px
  }

  .main-patent .data .title .sentence em {
    font-size: 56px
  }

  .main-patent .list-items .item-title {
    font-size: 24px
  }

  .main-patent .list-items {
    padding: 28px;
    height: 284px
  }

  .main-patent .list-items .item-number {
    font-size: 20px;
    padding: 28px
  }

  .main-patent .list-items .item-desc {
    margin-top: 4px
  }
}

@media screen and (max-width:1024px) {
  .effect-data {
    position: relative;
    transform: translate(0, 40px);
    opacity: 0;
    transition: transform .4s cubic-bezier(.165, .84, .44, 1), opacity .4s ease;
    will-change: transform
  }

  .effect-data.actived {
    transform: translate(0, 0);
    opacity: 1;
    transition-delay: 0s
  }

  #wrap.main #dHead {
    width: 100%
  }

  #wrap.main #dHead .all-menu-wrap {
    width: 100%
  }

  .main-wrap {
    overflow-x: hidden;
    overflow-y: scroll
  }

  #dBody.main {
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    overflow: visible
  }

  .main-wrap {
    position: static;
    width: auto;
    height: auto;
    overflow: visible
  }

  .main-group {
    min-height: 100vh;
    min-height: 100lvh;
    overflow: visible;
    display: block
  }

  .main-group h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 25.2px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #999999;
    transform: translateY(-10px);
    opacity: 1;
    transition: opacity .7s ease;
  }

  .main-group.main-ai h2 {
    text-align: left !important;
  }

  .main-group h2.actived {
    font-size: 18px;
    font-weight: 600;
    line-height: 25.2px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #999999;
    transform: translateY(-32px);
    opacity: 1;
    transition: all .7s ease;
  }

  .main-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    height: 100lvh
  }

  .main-sticky-inner {
    height: 100vh;
    height: 100lvh;
    overflow: hidden
  }

  .main-headline {
    height: 425vh;
    height: 425lvh
  }

  .main-headline .scroller {
    bottom: auto;
    top: 100vh;
    top: 100dvh
  }

  .main-headline .scroller:before {
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -40px
  }

  .main-headline .txt-group .text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Pretendard;
    font-size: 52px;
    font-weight: 700;
    line-height: 62.4px;
    letter-spacing: -2px;
    text-align: center;
  }

  .main-headline .txt-group .text .mo_ln {
    display: none;
  }

  .main-headline .point-obj {
    width: 435px;
    height: 409px;
    margin: -200px 0 0 -217px
  }

  .main-headline .point-obj .obj {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0
  }

  .main-headline .point-obj .point-obj-inner,
  .main-headline .point-obj .point-obj-outer {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%
  }

  .main-headline .point-obj .obj img,
  .main-headline .point-obj .obj video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
  }

  .main-headline .point-obj .deco-1 {
    top: 29.33%;
    left: 15.4%;
    width: 36px;
    height: 36px;
    z-index: 0;
    display: none
  }

  .main-headline .point-obj .deco-2 {
    top: 19.13%;
    right: .86%;
    width: 32px;
    height: 32px;
    z-index: 1
  }

  .main-headline .point-obj .deco-3 {
    bottom: 11.39%;
    left: 2.09%;
    width: 56px;
    height: 56px;
    z-index: 10
  }

  .main-headline .point-obj .deco-4 {
    bottom: 15.2%;
    right: 11.56%;
    width: 28px;
    height: 28px;
    z-index: 3
  }

  .main-wrap.actived .main-headline .headline-1,
  .main-wrap.actived .main-headline .headline-2 {
    transition: var(--smooth-transform-transition)
  }

  .main-wrap.actived .main-headline .bg {
    transition: var(--smooth-clip-path-transition)
  }

  .main-ai {
    margin-top: -100vh;
    margin-top: -100lvh;
    height: auto;
    min-height: 100vh;
    min-height: 100lvh;
    background: #000;
    overflow: visible
  }

  .main-ai .main-sticky,
  .main-ai .main-sticky-inner {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto
  }

  .main-ai .data {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    display: block
  }

  .main-ai .data-inner {
    width: auto;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 100px 60px 60px 60px
  }

  .main-ai .title {
    font-size: 52px;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: -0.02em;
    opacity: 1
  }

  .main-ai .title .sentence+.sentence {
    margin-top: 20px;
  }

  .main-ai .title .word {
    flex-wrap: wrap
  }

  .main-ai .title .word.stl {
    font-size: 32px;
    font-weight: 600;
    line-height: 44.8px;
    letter-spacing: -0.02em;
    text-align: left;

  }

  .main-ai .title.actived em {
    background: linear-gradient(to right, rgba(255, 201, 24, 1), rgba(255, 84, 58, 1));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 1s ease;
  }

  .main-ai .title em span {
    font-size: 68px
  }

  .main-ai .list {
    margin-top: 85px
  }

  .main-ai .list-inner {
    display: block;
    gap: 0
  }

  .main-ai .list-item {
    width: auto;
    height: auto;
    border-radius: 20px
  }

  .main-ai .list-item+.list-item {
    margin-top: 40px
  }

  .main-ai .list-item .item-inner {
    position: relative;
    top: auto;
    right: auto;
    width: auto;
    height: auto;
    padding: 32px;
    display: flex;
    flex-direction: column-reverse;
  }

  .main-ai .list-item .item-info {
    width: 100%;
    margin-top: 32px;
    margin-left: 0;
    height: auto;
    display: block;
  }

  .main-ai .list-item .item-info .item-number {
    color: rgba(153, 153, 153, 1);
    font-size: 18px;
    font-weight: 600;
    line-height: 25.2px;
    letter-spacing: -0.02em;
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
  }

  .main-ai .list-item .item-detail ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
  }

  .main-ai .list-item .item-title {
    width: auto;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: -0.02em;
  }

  .main-ai .list-item .item-desc {
    margin-top: 16px;
    font-size: 32px;
    line-height: 1.6;
    color: #ddd;
    letter-spacing: var(--letterSpacingHeadline)
  }

  .main-ai .list-item .item-desc br {
    display: none
  }

  .main-ai .list-item .item-options {
    display: none
  }

  .main-ai .list-item .item-inner .item-visual {
    position: relative;
    width: 100%;
    height: 40.478vw;
    /* height: 390px; */
  }

  .main-ai .list-item:nth-child(1) .item-inner .item-visual {
    background: url(../images/section3_img1_tablet.png) center center no-repeat;
    background-size: 100% 100%;
  }

  .main-ai .list-item:nth-child(2) .item-inner .item-visual {
    background: url(../images/section3_img2_tablet.png) center center no-repeat;
    background-size: 100% 100%;
  }

  .main-ai .list-item:nth-child(3) .item-inner .item-visual {
    background: url(../images/section3_img3_tablet.png) center center no-repeat;
    background-size: 100% 100%;
  }

  .main-ai .list-item .item-label {
    display: none
  }

  .main-technology {
    height: 350vh;
    height: 350lvh
  }

  .main-technology .title .sentence {
    font-size: 52px;
    font-weight: 700;
    line-height: 62.4px;
    letter-spacing: -2px;
    text-align: center;
    color: #1f1f1f;
  }

  .main-technology .title .sentence+.sentence {
    margin-top: 0
  }

  .main-technology .title .sentence .char-words {
    padding: 0 8px
  }

  .main-technology .title .sentence .char-words .tablet_ln {
    display: block;
  }

  .main-technology .title .sentence .char-words .mo_ln {
    display: none;
  }

  .main-technology .title .sentence .char-line {
    width: 4px
  }

  .main-technology .desc {
    margin-top: 20px;
    font-size: 32px;
    font-weight: 600;
    line-height: 44.8px;
    letter-spacing: -2px;
    text-align: center;
    color: #1f1f1f;
  }

  .main-technology .btns {
    margin-top: 60px
  }


  /* section4 ###################### */
  .main-price .title {
    color: #000;
    font-size: 52px;
    font-weight: 700;
    line-height: 62.4px;
    letter-spacing: -2px;
  }

  .main-price .desc {
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    letter-spacing: -0.02em;
    color: #333;
  }

  .main-price .desc>em {
    font-weight: 700
  }

  .main-price .gray-box {
    margin: 63px auto 0 auto;
    width: calc(100% - 240px);
    max-width: 840px;
    min-height: 300px;
    padding: 72px 96px;
  }

  .main-price .gray-box .gray-box-inner .inner-top {
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 36px;
    padding-bottom: 36px;
  }

  .main-price .gray-box .gray-box-inner .inner-top ul {
    display: flex;
    gap: 40px 24px;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .main-price .gray-box .gray-box-inner .inner-top ul li {
    width: calc(33.3333335% - 24px);
  }

  .main-price .gray-box .gray-box-inner .inner-top ul li:last-child {
    width: 100%;
  }

  .main-patent {
    height: auto;
    min-height: 100vh;
    min-height: 100lvh
  }

  .main-patent .main-sticky {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto
  }

  .main-patent .main-sticky-inner {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    display: block;
    overflow: visible
  }

  .main-patent .data {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    display: block
  }

  .main-patent .data-inner {
    width: auto;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 100px 60px 60px 60px
  }

  .main-patent .data .cate {
    font-size: 32px
  }

  .main-patent .data .title {
    font-size: 64px;
    font-weight: 800;
    letter-spacing: var(--letterSpacingHeadline);
    margin-top: 32px
  }

  .main-patent .data .title .sentence+.sentence {
    margin-top: 4px
  }

  .main-patent .data .title .sentence em {
    font-size: 70px
  }

  .main-patent .list {}

  .main-patent .list-inner {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    width: 100%;
  }

  .main-patent .list-inner>.list-cell {
    position: relative;
    width: calc(50% - 20px);
    box-sizing: border-box
  }

  .main-patent .list-inner>.list-cell dl {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .main-patent .list-inner>.list-cell dl dt {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 100%;
    overflow: hidden;
  }

  .main-patent .list-inner>.list-cell dl dt>img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .main-patent .list-inner>.list-cell dl dd>p {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
  }

  .main-patent .list-inner>.list-cell dl dd>div {
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
    letter-spacing: -0.02em;
    margin-top: 14px;
  }

  .main-patent .list-items {
    padding: 40px;
    width: 100%;
    height: 410px;
    border-radius: 32px
  }

  .main-patent .list-items .item-number {
    padding: 40px;
    font-size: 32px
  }

  .main-patent .list-items .item-title {
    font-size: 40px;
    line-height: 1.2;
    color: #fff;
    font-weight: 500;
    letter-spacing: var(--letterSpacingHeadline)
  }

  .main-patent .list-items .item-title br.none {
    display: none
  }

  .main-patent .list-items .item-desc {
    display: none
  }

  .main-patent .list-inner>.list-cell:nth-child(4)~.list-cell {
    display: none
  }

  .main-patent .btns {
    display: block
  }

  .main-patent .btn-ui {
    margin-top: calc(50px + 40px);
    text-align: center
  }

  .main-patent.complete .data-inner {
    padding-bottom: 120px
  }
}

@media screen and (max-width:767px) {
  .video-area .video-data {
    padding: 0 16px
  }

  .video-area .container-fuild {
    padding: 40px 0
  }

  .inner {
    padding: 0 16px
  }

  .container-fuild {
    margin-left: -16px;
    margin-right: -16px
  }

  .btn-main-nav {
    padding: 0 40px;
    height: 52px;
    font-size: 18px;
    letter-spacing: var(--letterSpacingHeadline)
  }

  .main-group h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #999999;
    transform: translateY(-32px);
    opacity: 1;
    transition: opacity .7s ease;
  }

  .main-group.main-ai h2 {
    text-align: left !important;
  }

  .main-group h2.actived {
    transform: translateY(-32px);
    opacity: 1;
    transition: all .7s ease;
  }


  .main-headline .txt-group {
    top: auto;
    bottom: 50%;
    left: 0;
    height: auto;
  }

  .main-headline .txt-group .text {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: -2px;
    text-align: center;
  }

  .main-headline .txt-group .text .mo_ln {
    display: block;
  }

  .main-headline .txt-group .btn-area {
    margin-top: 40px;
    display: flex;
    gap: 20px;
  }

  .main-headline .txt-group .btn-area button {
    width: 120px;
    height: 40px;
    background: transparent;
    border: 0.5px solid #fff;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 16.8px;
    letter-spacing: -0.02em;
    text-align: center;
    transition: all .4s ease;
  }

  .main-headline .txt-group .btn-area button:hover {
    background: rgba(255, 255, 255, 0.3);
    transition: all .4s ease;
  }

  .main-headline .txt-group .headline-logo {
    text-align: center;
    display: block;
    width: 182px;
    height: 27px;
    background: url(../images/section1_logo_m.png) center center no-repeat;
    background-size: 100% 100%;
    margin-bottom: 32px;
  }

  .main-headline .point-obj {
    width: 290px;
    height: 273px;
    margin: -80px 0 0 -145px
  }

  .main-headline .point-obj .deco-1 {
    width: 18px;
    height: 18px
  }

  .main-headline .point-obj .deco-2 {
    width: 16px;
    height: 16px
  }

  .main-headline .point-obj .deco-3 {
    width: 28px;
    height: 28px
  }

  .main-headline .point-obj .deco-4 {
    width: 14px;
    height: 14px
  }

  .main-headline .footnote-desc {
    padding: 56px 16px
  }

  .main-headline .footnote-desc>span {
    display: block
  }

  .main-ai .title {
    font-size: 32px
  }

  .main-ai .title em span {
    font-size: 36px
  }

  .main-ai .title em {
    display: flex;
    flex: 0 0 100%
  }

  .main-ai .data-inner {
    padding-left: 16px;
    padding-right: 16px
  }

  .main-ai .list-item .item-inner {
    padding: 16px
  }

  .main-ai .list-item .item-info .item-number {
    position: relative;
    width: 100%;
    text-align: right;
    margin-top: 20px;
    font-size: 16px;
    line-height: 29px
  }

  .main-ai .list-item .item-title {
    font-size: 24px
  }

  .main-ai .list-item .item-desc {
    margin-top: 8px;
    font-size: 16px
  }

  .main-ai .list-item .item-inner .item-visual {
    width: 100%;
    height: 58.176vw;
  }

  .main-ai .list-item:nth-child(1) .item-inner .item-visual {
    background: url(../images/section3_img1_mo.png) center center no-repeat;
    background-size: 100% 100%;
  }

  .main-ai .list-item:nth-child(2) .item-inner .item-visual {
    background: url(../images/section3_img2_mo.png) center center no-repeat;
    background-size: 100% 100%;
  }

  .main-ai .list-item:nth-child(3) .item-inner .item-visual {
    background: url(../images/section3_img3_mo.png) center center no-repeat;
    background-size: 100% 100%;
  }

  .main-ai .list-item+.list-item {
    margin-top: 16px
  }

  .main-ai .title-group {
    display: block
  }

  .main-ai .title-group .btns {
    margin-top: 20px
  }

  .main-ai .title-group .btns .btn-basic {
    min-width: 160px
  }

  .main-technology .title .sentence {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: -2px;
    text-align: center;
  }

  .main-technology .title .sentence+.sentence {
    margin-top: 4px
  }

  .main-technology .title .sentence .char-words {
    padding: 0 8px
  }

  .main-technology .title .sentence .char-words .tablet_ln {
    display: block;
  }

  .main-technology .title .sentence .char-words .mo_ln {
    display: block;
  }

  .main-technology .title .sentence .char-line {
    width: 2px
  }

  .main-technology .desc {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: center;
  }

  .main-technology .btns {
    margin-top: 32px
  }

  /* section4 ###################### */
  .main-price .title {
    color: #000;
    font-size: 52px;
    font-weight: 700;
    line-height: 62.4px;
    letter-spacing: -2px;
  }

  .main-price .desc {
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    letter-spacing: -0.02em;
    color: #333;
  }

  .main-price .desc>em {
    font-weight: 700
  }

  .main-price .gray-box {
    margin: 63px auto 0 auto;
    width: calc(100% - 48px);
    min-width: 320px;
    min-height: 300px;
    padding: 40px 32px;
  }

  .main-price .gray-box .gray-box-inner {
    width: 100%;
  }

  .main-price .gray-box .gray-box-inner .inner-top {
    width: 100%;
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 32px;
    padding-bottom: 32px;
  }

  .main-price .gray-box .gray-box-inner .inner-top ul {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    flex-wrap: wrap;
    width: calc(100% - 59px);
  }

  .main-price .gray-box .gray-box-inner .inner-top ul li {
    width: 100%;
  }

  .main-price .gray-box .gray-box-inner .inner-top ul li:last-child {
    margin-top: 16px;
  }

  .main-price .gray-box .gray-box-inner .inner-top ul li dl dd {
    width: 100%;
  }

  .main-price .gray-box .gray-box-inner .inner-bottom {
    width: calc(100% - 59px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
  }

  .main-price .gray-box .gray-box-inner .inner-bottom span {
    font-size: 16px;
    font-weight: 700;
  }

  .main-price .gray-box .gray-box-inner .inner-bottom span:last-child {
    margin: 0 0 0 auto;
  }

  .main-price .gray-box .gray-box-inner .inner-bottom span em {
    color: var(--primary, #FF6614);
    font-size: 48px;
    margin: 0px;
  }

  .main-patent .data-inner {
    padding-left: 16px;
    padding-right: 16px
  }

  .main-patent .data .cate {
    font-size: 16px
  }

  .main-patent .data .title {
    font-size: 32px;
    margin-top: 20px
  }

  .main-patent .data .title .sentence+.sentence {
    margin-top: 12px
  }

  .main-patent .data .title .sentence em {
    font-size: 36px
  }

  .main-patent .data .title .sentence+.sentence {
    margin-top: 12px
  }

  .main-patent .list {
    margin-top: 40px
  }

  .main-patent .list-inner {
    /* margin: -6px */
  }

  .main-patent .list-inner>.list-cell {
    width: 100%;
    padding-bottom: 40px;
  }

  .main-patent .list-inner>.list-cell dl {
    gap: 22px;
  }

  .main-patent .list-inner>.list-cell dl dd>p {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    letter-spacing: -0.02em;

  }

  .main-patent .list-inner>.list-cell dl dd>div {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
    margin-top: 10px;
  }

  .main-patent .list-inner>.list-cell:nth-child(2n-1) {
    /* top: 50px */
  }

  .main-patent .list-items {
    padding: 16px;
    height: 170px;
    border-radius: 20px
  }

  .main-patent .list-items .item-number {
    padding: 16px;
    font-size: 14px
  }

  .main-patent .list-items .item-title {
    font-size: 18px
  }

  .title-logo {
    font-size: 18px
  }

  .title-logo>em {
    padding-bottom: 4px
  }

  .title-logo+.page-title {
    margin-top: 12px
  }

  .page-title+.page-desc {
    margin-top: 4px
  }

  .page-title+.page-cate {
    margin-top: 4px
  }

  .page-title {
    font-size: 44px;
    line-height: 1.2
  }

  .page-title .en {
    font-size: 48px
  }

  .page-title .sentence {
    gap: 0 8px;
    flex-wrap: wrap
  }

  .page-desc {
    font-size: 22px;
    line-height: 1.2
  }

  .page-cate {
    font-size: 22px
  }

  .contents-title {
    font-size: 32px
  }

  .data-title {
    font-size: 24px
  }

  .math-test-wrap {
    margin: 0 -16px
  }
}

@media screen and (max-width:390px) {
  .main-patent .list-items .item-title {
    font-size: 16px
  }
}